body {
    margin: 0;
    height: 240vh;

}

a {
    text-decoration: none;
    color: black;
}

ul li {
    list-style: none;
}

/* nav */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 12px;
    background-color: rgb(251,251,251, 0.9);
    border-bottom: 2px solid gray;
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 0;
}

nav #devTitle {
    position: absolute;
    left: 25px;
    top: 15px;
    color: rgb(6, 199, 85);
}

.menu {
    display: flex;
    text-align: center;
}

.menu li {
    padding: 10px 50px;
    border-bottom: 3px solid rgb(251, 251, 251, 0);
}

.menu li:hover {
    border-bottom: 2px solid rgb(6, 199, 85);
    opacity: 0.7;
}

.icon {
    font-size: 40px;
    padding-right: 40px;
}

/* nav end */

/* title */

.teamTitle {
    color: black;
    margin-top: 70px;
    text-align: center;
    font-size: 80px;
    font-weight: boder;
}

div img {
    margin-top: 220px;
    height: 350px;
    width: 1200px;
}

div span {
    display: block;
    text-align: center;
    font-size: 30px;
    color: rgb(97,97,97);
    margin-bottom: 5px;
}

/* title end */
.title {
    margin-bottom: 220px;
}
/* teamList */

main {
    text-align: center;
}

main ul {
    text-align: center;
    display: flex;
    max-width: 1200px;
    margin: 70px auto 0;
}

main li {
    margin-left: 0;
    border: 2px solid rgb(97,97,97);
    border-radius: 5px;
    margin: 0 auto;
    background-color: rgb(251,251,253);
}

.pic {
    margin: 0;
    width: 500px;
    height: 500px;
    padding-top: 40px;
}

li div h1 {
    font-size: 25px;
}

.mail {
    color:rgb(1,191,165);
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}

.do {
    color: rgb(97,97,97);
    font-weight: bold;
}

.ex {
    font-size: 18px;
    font-weight: 400;
    padding: 40px;
    text-align: justify;
    color: rgb(97,97,97);
}